assignment1/assignment1.aux
assignment1/assignment1.fdb_latexmk
assignment1/assignment1.fls
assignment1/assignment1.log
assignment1/assignment1.vscodeLog
assignment1/q1_softmax.pyc
assignment1/q2_gradcheck.pyc
assignment1/q2_sigmoid.pyc
assignment1/q3_sgd.pyc
assignment1/q3_word2vec.pyc
assignment1/utils/__init__.pyc
assignment1/utils/glove.pyc
assignment1/utils/treebank.pyc
assignment1/utils/datasets/glove.6B.50d.txt
assignment1/utils/datasets/__MACOSX/stanfordSentimentTreebank/._datasetSentences.txt
assignment1/utils/datasets/__MACOSX/stanfordSentimentTreebank/._datasetSplit.txt
assignment1/utils/datasets/__MACOSX/stanfordSentimentTreebank/._dictionary.txt
assignment1/utils/datasets/__MACOSX/stanfordSentimentTreebank/._original_rt_snippets.txt
assignment1/utils/datasets/__MACOSX/stanfordSentimentTreebank/._README.txt
assignment1/utils/datasets/__MACOSX/stanfordSentimentTreebank/._sentiment_labels.txt
assignment1/utils/datasets/stanfordSentimentTreebank/datasetSentences.txt
assignment1/utils/datasets/stanfordSentimentTreebank/datasetSplit.txt
assignment1/utils/datasets/stanfordSentimentTreebank/dictionary.txt
assignment1/utils/datasets/stanfordSentimentTreebank/original_rt_snippets.txt
assignment1/utils/datasets/stanfordSentimentTreebank/README.txt
assignment1/utils/datasets/stanfordSentimentTreebank/sentiment_labels.txt
assignment1/utils/datasets/stanfordSentimentTreebank/SOStr.txt
assignment1/utils/datasets/stanfordSentimentTreebank/STree.txt
assignment2/assignment2.aux
assignment2/assignment2.log
assignment2/assignment2.vscodeLog
assignment2/kernel-56ad5de4-a462-48b8-9ebf-6ae67274182c.json
assignment2/model.pyc
assignment2/q2_initialization.pyc
assignment2/q2_parser_transitions.pyc
assignment2/utils/__init__.pyc
assignment2/utils/general_utils.pyc
assignment2/utils/parser_utils.pyc
*.pyc
assignment3/assignment3.aux
assignment3/assignment3.log
assignment3/assignment3.pdf
